@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200&family=Crimson+Text&family=EB+Garamond&family=Kalam:wght@300&family=Libre+Baskerville&family=Mate&family=Merriweather:wght@900&family=Poltawski+Nowy&family=Red+Hat+Display:wght@300&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* Color Variables */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #f1f1f1;
    --primary-text-color: #000000;
    --secondary-text-color: #757575;
    --tertiary-color: #009688;
    --last-background-color: #616161;
    --bgc-grey-color: #9e9e9e;
}

/* css reset */
* {
    font-family: 'Bitter', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Kalam', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Mate', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poltawski Nowy', serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Rubik', sans-serif;

    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.flex {
    display: flex;
}

.cover{
    margin-inline: 13px;
}

/* Css Editing  LEFT CANTAINER */
.body-cantainer {
    /* border: 3px solid #000; */
    height: 100%;
    width: 100%;

}


/* ........................................  LEFT CANTAINER ............................................... */

.left-div {
    background-color: var(--primary-color);
    /* border: 2px solid red; */
    height: 80rem;
    flex-basis: 25%;
}

.left-cantainer {
    /* background-color: pink; */
    margin: 15px;
    position: fixed;
    top: 0;
    left: 0;
}

.logo-box {
    /* border: 2px solid black; */
    height: 2rem;
    margin: 2px;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 1.1rem;
}

#window-logo {
    width: 25px;
}

#about-logo {
    width: 25px;
}

#contact-logo {
    width: 25px;
}

.left-cantainer h2 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 2px;
}


.avatar {
    height: 8rem;
    border-radius: 5px;
}

.left-cantainer h1 {
    font-size: 1.4rem;
    margin-top: 2.2rem;
}

.left-cantainer p {
    margin-top: 0.5rem;
}

.left-items{
    width: 15.5rem;
    margin-block: 10px;
    /* border: 2px solid  green; */
}

.left-items p {
    font-size: 1rem;
    margin-left: 21px;
    margin-top: 10px;
    font-family: Raleway, sans-serif;
}

.left-items:hover{
    background-color: #C0C0C0;
}

#window-green {
    color: var(--tertiary-color);
}

/*  SOCIAL MEDIA LOGOS BLOCK */
.social-media-logo{
    margin-top: 22px;
}
.social-ml {
    margin-block: 12px;
    margin-left: 2px;
    /* border:2px solid #463999; */
}

.media-logo {
    height: 20px;
    border-radius: 15px;
    margin-right: 5px;
}

.social-ml:hover{
    opacity: 0.6;
}

/* ------------------------ RIGHT CANTAINER --------------------------------------- */ 

.right-main-cantainer {
    flex-basis: 80%;
    background-color: var(--secondary-color);
    height: 500vh;
}


.navbar{
    height:9rem;

}
.navbar h1{
    margin-top:0px;
    font-size: 3rem;
    margin-inline: 10px ;

}

.nav-list{
    /* border: 2px solid darkolivegreen; */
    margin-top: 10px;
    border-bottom: 7px solid #C0C0C0;
    padding: 10px;
}

.nav-list-item{
    /* border: 2px solid lightcoral; */
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-left: 5px;
    background-color: var(--primary-color);
    width: 6rem;
    border-radius: 2px;
}
.nav-list-item:hover{
    background-color:	#C0C0C0;
}

.nav-list-img{
    height: 15px;
    margin-right: 10px;
}

.nav-list-item a{
    font-size: 1.1rem;
}

#Filter-btn{
    width: 4rem; 
    background-color: var(--secondary-color);   
}

#All-btn{
    width: 3.6rem;
    text-align: center;
    background-color: var(--primary-text-color);
    color: white;
}



#All-btn:hover{
    background-color:#C0C0C0;
    color: black;
}

/* --------------------------------- FIRST GRID CONTAINER---------------------------------------------------- */

.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: aqua; */
    height: 47rem;
    gap: 15px;
    /* margin-top: 20px; */
    margin-block: 20px;
    padding: 5px;
}
.grid-item{
    background-color: var(--primary-color);
    border-radius: 5px;
}

.grid-image{
    height: 14rem;
}

.grid-image-2{
    height: 15.7rem;
}
:hover
.grid-image:hover{
    opacity: 0.5;
}

.grid-image-2:hover{
    opacity: 0.6;
}

.grid-content{
    /* border: 2px solid red; */
    margin-inline: 6px;
}

.grid-content p{
    margin-top: 10px;
}

/* ------------------------------------- PAGINATION BLOCK ------------------------------------------ */

.pagination{
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
    margin-bottom: 3rem;
}

.page-button{
    padding: 12px;
    height: 2.4rem;
}

.page-button:hover{
    color: var(--primary-color);     
}
.page-button p{
    font-weight: bold;
    text-align: center;
}


.page-button:hover{
    background-color: var(--primary-text-color);
}   

#pg-btn-1{
    background-color: var(--primary-text-color) ;
    color: var(--primary-color);
}


#pg-btn-1:hover{
    background-color: #C0C0C0 ;
    color: var(--primary-text-color);
}




/* <!-- ------------------------------------- SECOND CANTAINER---------------------------- --> */

.image-cantainer{
    /* border: 2px solid green; */
    height: 20rem;
}

#left-image{
    margin-right: 20px;
}

#right-image{
    width: 50%;
}

.text-content{
    height: 10rem;
    /* border: 2px dashed red; */
    margin-block: 2rem;
}

.text-content h2{
    font-weight: bold;
    margin-bottom: 1rem;
}

/* ----------------------------------- TECHNICAL SKILL CONTAINER ---------------------------------------------- */

.technical-skill h2{
    margin-bottom: 17px ;
}

.technical-skill p{
    margin-bottom: 17px ;
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
}

.bar-box{
    height: 2.4rem;
    margin-block: 10px;
}


#graph-1{
    background-color: var(--last-background-color);
    flex-basis: 95%;
    text-align: center;
    color: var(--primary-color);
    line-height: 35px;
}


#graph-2{
    background-color: var(--bgc-grey-color);
    flex-basis:5% ;
}


#graph-3{
    background-color: var(--last-background-color);
    flex-basis: 85%;
    text-align: center;
    color: var(--primary-color);
    line-height: 35px;
}


#graph-4{
    background-color: var(--bgc-grey-color);
    flex-basis:15% ;
}


#graph-5{
    background-color: var(--last-background-color);
    flex-basis: 80%;
    text-align: center;
    color: var(--primary-color);
    line-height: 35px;
}


#graph-6{
    background-color: var(--bgc-grey-color);
    flex-basis:20% ;
}

/* ------------ DOWNLOAD BUTTON ------------- */

.download-btn{
    background-color:var(--last-background-color);
    border-radius: 3px;
    width: 20%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    height: 3rem;
}
.download-btn img{
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 10px;
}

.download-btn p{
    margin-top: 17px;
    color: var(--primary-color);
}

.download-btn:hover{
    background-color: #C0C0C0;
    color: var(--primary-text-color);
}

.download-btn p:hover{
    color: var(--primary-text-color);
}

/* ----------------------------- CREATING FLEX BLOCKS ---------------------------------- */

.Heading{
    margin-top: 2.6rem;
    font-size: 1.5rem;

}

.block-box{
    margin-top: 8px;
}

.flex-blocks{
    background-color: var(--primary-color);
    border: 2px solid  #DDDDDD;
    width: 50%;
    height: 33rem;
    margin-right: 10px;
}

.list-items{
    border-bottom: 1px solid  #DDDDDD;
    text-align: center;
    height: 3.5rem;
    padding: 18px;
}

.list-heading{      /*    List Heading */    
background-color: var(--primary-text-color);   
color: var(--primary-color);
height: 6rem;
font-size: 1.5rem;
padding: 22px;
}
#Pro{
    background-color: var(--tertiary-color);
}
.item-6th-box{
    height: 6rem;
    padding: 22px;
}

.price-span{         /* Span  Tag Editing */
    font-size: 1.5rem;
font-weight: bold;
}

.btn-list{
    height: 7rem;
    padding: 38px;
}


.signup-btn{
    padding: 10px;
    width: 50%;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1rem;
}

.signup-btn:hover{
    background-color: var(--primary-text-color);
}


.flex-blocks:hover{
    opacity: 0.6;
}

/* ------------------------------------- CONTACT BLOCK--------------------------------------------- */

.contact{
    background-color: var(--bgc-grey-color);
    margin-top: 2.5rem;
    height:100vh;
}
.contact h3{
    font-size: 1.5rem;
    margin-inline: 1.3rem;
    margin-block: 2rem;
    padding-top: 1.5rem;
}

.contact-holder{
    border-bottom: 2px solid var(--secondary-color);
    margin-inline: 1.3rem; 
    margin-block: 2rem;
    height: 10rem;
 
}

.contact-box{
    background-color: var(--last-background-color);
    /* border: 2px solid red; */
    width: 50%;
    height: 6.5rem;
    
}

#location-box{
    background-color: var(--tertiary-color);
}


.cb-img{
    /* border: 2px dashed #616161; */
    height: 36px;
    width: 15%;  
    margin-inline: 9.5rem; 
}

.cb-img img{
    height: 36px;
    width:36px ;
    margin-top: 5px;
    background-color: white;
    border-radius: 21px;
    
}

.contact-box p{
    text-align: center;
    color: var(--primary-color);
    margin-block: 13px;
}


/* --------------------------- DETAILS BLOCKS -------------------------------- */

.details-box{
    /* background-color: pink; */
    margin-inline: 1.3rem;
}

.form input{
    width:100%;
    padding: 10px;
}
.form{
    margin-bottom: 1rem;
}

/* <------------ Send Button -----------> */

.button{
    background-color: var(--primary-text-color);
    width: 18%;
    height: 2.6rem;
}

#btn-img {
    background-color: #fff;
    height: 35px;
    border-radius: 23px;
    margin: 5px;   
}

#send-btn{
    color: var(--primary-color);
    padding: 8px;
}

.button:hover{
    background-color: #C0C0C0;
}

#send-btn:hover{
    color: #000;
}

/* --------------------------------- FOOTER-BLOCK-------------------------------------------------------- */
.footer-box{
height:17 rem;
background-color: var(--last-background-color);
}
.footer-item{
    height:15rem;
    margin:15px;
    /* border: 2px dashed green; */
    width:50%;
    color: var(--primary-color);
}

.footer-item h2{
    margin-block: 0.8rem;
    color: var(--primary-color);
}

.blog{
    /* border: 2px solid black; */
    height: 5rem;
    padding: 5px;
}

.blog:hover{
    background-color: #C0C0C0;
}

#border{
    border-bottom: 2px solid #C0C0C0;
}
.blog img{
    height:4rem;
    padding:5px;
}
.blog-content{
    padding:5px;
    color: var(--primary-color);
}

.footer-grid{
    display:grid;
    height:5rem;
    grid-template-columns: auto auto auto auto auto;
    gap:3px;
    row-gap: 15px;
}

.fgrid-item{
    /* border: 2px solid black; */
    background-color: var(--bgc-grey-color);
    height: 25px;
    text-align: center;
    color:var(--primary-text-color);
}

#New{
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    height:28px;
}

.last-footer{
    justify-content: center;
    align-items: center;
    background-color: var(--primary-text-color);
    height:4.5rem;
}
.last-footer p{
    color: var(--primary-color);
}















